/* General Style */
.landing-page {
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200vh;
  padding: 100px 50px 50px; /* Adjust top padding for fixed header */
  background-color: #eafbe6;
}

.hero-text {
  max-width: 100%;
}

.hero-image img {
  max-width: 400px;
  border-radius: 20px;
}

.why-choose-us {
  padding: 50px 0;
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin: 50px 0;
}

.feature-item {
  text-align: center;
  max-width: 250px;
  margin: 10px;
}

.about-us {
  padding: 50px 20px;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f0f4f0;
}

/* Media Queries for Responsiveness */
@media (max-width: 100%) {
  .hero {
      flex-direction: column;
      text-align: center;
  }

  .hero-image img {
      max-width: 300px;
      margin-top: 20px;
  }

  .features {
      flex-direction: column;
      justify-content: center;
  }

  .nav-links {
      flex-direction: column;
      align-items: center;
  }

  .nav-links li {
      margin: 10px 0;
  }
}
